# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.tmp/android/res/mipmap-hdpi/ic_launcher.png
.tmp/android/res/mipmap-mdpi/ic_launcher.png
.tmp/android/res/mipmap-xhdpi/ic_launcher.png
.tmp/android/res/mipmap-xxhdpi/ic_launcher.png
.tmp/android/res/mipmap-xxxhdpi/ic_launcher.png
.tmp/flutter/app.dart
.tmp/flutter/main.dart
.tmp/flutter/pages/my_home_page.dart
.tmp/ios/LaunchScreen.storyboard
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Contents.json
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
.tmp/ios/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
.tmp/ios/Assets.xcassets/LaunchImage.imageset/Contents.json
.tmp/ios/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
.tmp/ios/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
.tmp/ios/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
.tmp/ios/Assets.xcassets/LaunchImage.imageset/README.md
.tmp/macos/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
.tmp/macos/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
.tmp/macos/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
.tmp/macos/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
.tmp/macos/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
.tmp/macos/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
.tmp/macos/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
.tmp/macos/Assets.xcassets/AppIcon.appiconset/Contents.json
.tmp/scripts/darwin/add_build_configuration.rb
.tmp/scripts/darwin/add_file.rb
.tmp/scripts/darwin/add_firebase_build_phase.rb
.tmp/scripts/darwin/create_scheme.rb
.vscode/launch.json
assets.tmp.zip
